.scroll {
  margin: 4px, 4px;
  padding: 4px;

  width: 500px;
  height: 370px;
  border-radius: 4px;

  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  bottom: 25px;
  /* text-align: justify;
} */
}
.scroll::-webkit-scrollbar {
  display: none;
}
